---

/// NOTE: DEFAULT FILE PATHS ARE CONFIGURED FOR .astro PAGES STORED AT /SRC ROOT.  PAGES NESTED WITHIN ROOT WILL NEED THEIR FILE PATHS UPDATED!



//    CSS/STYLE IMPORTS
import "../styles/all.scss";

//    ASTRO COMPONENT IMPORTS
import HeadMinimum from "../components/HeadMinimum.astro";
import HeadStatic from "../components/HeadStatic.astro";
import NavToggleWrapper from "../components/NavToggleWrapper.astro";
import Header from "../components/Header.astro";
import NavDesktop from "../components/NavDesktop.astro";
import NavMobile from "../components/NavMobile.astro";
import NavMobileLinks from "../components/NavMobileLinks.astro";
import LetsConnect from "../components/LetsConnect.astro";
import Footer from "../components/Footer.astro";

//    ASTRO LAYOUT IMPORTS 
import HeroGray from "../layout/HeroGray.astro";
import ImageAndTextBlock from "../layout/ImageAndTextBlock.astro";

//    ASTRO PAGE-SPECIFIC IMPORTS 
import IGGalleryModal from "../components/IGGalleryModal.astro";

//    FRAMEWORK-SPECIFIC IMPORTS 

//    COMPONENT SCRIPTS:
/// You can write any JavaScript/TypeScript that you'd like here.
/// It will run during the build, but never in the browser.
/// All variables are available to use in the HTML template below.

//    PAGE-SPECIFIC VARIABLES

/// Changing <header> Variables 
/// **Note**: Static header variables are stored in StaticHead.astro.
let pageURL = "https://compatibleconnections.biz/resources/inspirational_graphics.html";
let title = "-♡- Inspirational Graphics -♡-";

/// **Note**: pageDescription is limited to 150 characters!
/// Character counter can be found here: https://wordcounter.net/character-count
let pageDescription = "Coach Bernadette M. Smith's inspirational graphics for divorced daters.";
let pageKeywords = "Compatible Connections, Bernadette Smith, Bernadette M. Smith, dating after divorce, online dating, dating inspiration, inspirational graphics";
let mainID = "inspirational_graphics";

/// FULL ASTRO COMPONENT SYNTAX:
/// https://docs.astro.build/core-concepts/astro-components/


---

<html lang="en">
  <head>
    <HeadMinimum></HeadMinimum>
    <title>{title}</title>
    <meta name="description" content="{pageDescription}" />
    <meta name="keywords" content="{pageKeywords}" />
    <!-- Facebook Open Graph: Page-Specific Meta Tags -->
    <meta property="og:url" content="{pageURL}" />
    <meta property="og:title" content="{title}" />
    <meta property="og:description" content="{pageDescription}" />
    <HeadStatic></HeadStatic>
  </head>
  <body>
    <!-- #region Full Screen Nav Menu -- Tablet & Mobile Hamburger Click -->
    <NavMobileLinks></NavMobileLinks>
    <!-- #endregion -->
    <!-- The div below wraps the entire CC webpage & hides/shows it on mobile & tablet views 
            depending on whether the Hamburger Icon in the Nav Menu is clicked. -->
    <NavToggleWrapper>
      <Header />
      <!-- #region Nav Menu -->
      <NavDesktop />
      <NavMobile client:load />
      <!-- #endregion -->
      <main id={mainID}>
        <h1>Inspirational Graphics</h1>
        <HeroGray id="inspirational_graphics__explainer">
          <p>
            Every Monday, we share an Inspirational Graphic with our followers on <a href="https://www.instagram.com/onlinedatingmatchmaker" target="_blank">Instagram</a> and <a href="https://www.linkedin.com/in/bernadettemsmith/" target="_blank">LinkedIn</a>. 
          </p>     
          <p>
            It's a fun and uplifting way to kick off the week!
          </p>   
          <p>
            Social media posts have a way of "disappearing" from people's feeds after a day or two, though, so we decided to create an online gallery to showcase all of our Inspirational Graphics. 
          </p>
          <p>
            Scroll down to explore the gallery. Hover & click on an Inspirational Graphic to view it in full-screen mode.
          </p>
        </HeroGray>
        <IGGalleryModal client:load />
        <section id="inspirational_graphics__suggestions">
          <ImageAndTextBlock>
            <img src="/assets/images/inspirational_graphics_suggestions-1-cropped.png" alt="A dove carrying three polaroids." slot="image"/>
            <p slot="text">
              Have a favorite quote about love, dating, romance, divorce, or personal growth that inspires <em>you</em>?
            </p>
            <p slot="text">Let us know!</p>
            <p slot="text">
              <a href="mailto:bernadette@compatibleconnections.biz?subject=Inspirational%20Graphic%20Suggestion">Click here</a> to send us an e-mail with  <a href="mailto:bernadette@compatibleconnections.biz?subject=Inspirational%20Graphic%20Suggestion">your suggestion(s)</a>.  We'll add it to the (ever growing) list of quotes we use to create our Inspirational Graphics!
            </p>
          </ImageAndTextBlock>
        </section>
        <LetsConnect />
      </main>
      <span class="line"></span>
      <!-- The div below closes the "hide everything but the responsive nav" wrapper above. -->
    </NavToggleWrapper>
    <Footer client:load />
    <a href="404.html"></a>
  </body>
</html>