---
/// NOTE: DEFAULT FILE PATHS ARE CONFIGURED FOR .astro PAGES STORED AT /SRC ROOT.  PAGES NESTED WITHIN ROOT WILL NEED THEIR FILE PATHS UPDATED!

//    CSS/STYLE IMPORTS
import "../styles/all.scss";

//    ASTRO COMPONENT IMPORTS
import HeadMinimum from "../components/HeadMinimum.astro";
import HeadStatic from "../components/HeadStatic.astro";
import NavToggleWrapper from '../components/NavToggleWrapper.astro';
import Header from "../components/Header.astro";
import NavDesktop from "../components/NavDesktop.astro";
import NavMobile from "../components/NavMobile.astro";
import NavMobileLinks from "../components/NavMobileLinks.astro";
import LetsConnect from "../components/LetsConnect.astro";
import Footer from "../components/Footer.astro";

//    ASTRO LAYOUT IMPORTS 
import HeroGray from "../layout/HeroGray.astro";

//    ASTRO PAGE-SPECIFIC IMPORTS 
import ServicesHeadline from "../components/ServicesHeadline.astro";
import ServicesLinks from "../components/ServicesLinks.astro";
import ServicesPitchCard from "../components/ServicesPitchCard.astro";
import ServicesPitchCardChecked from "../components/ServicesPitchCardChecked.astro";
import SoundLikeChecklist from "../components/SSSSoundLikeChecklist.astro";
import ForYouChecklist from "../components/SSSForYouChecklist.astro";
import EndOfChecklist from "../components/SSSEndOfChecklist.astro";

//    FRAMEWORK-SPECIFIC IMPORTS 

//    COMPONENT SCRIPTS:
/// You can write any JavaScript/TypeScript that you'd like here.
/// It will run during the build, but never in the browser.
/// All variables are available to use in the HTML template below.

//    PAGE-SPECIFIC VARIABLES
let pageService = "Seek, Sort, & Select";
let mainID = "sss";

/// Changing <header> Variables 
/// **Note**: Static header variables are stored in StaticHead.astro.

let pageURL = "https://compatibleconnections.biz/services/sss.html";
let title = "-♡- Seek, Sort, & Select -♡-";

/// **Note**: pageDescription is limited to 150 characters!
/// Character counter can be found here: https://wordcounter.net/character-count
let pageDescription = "Learn more about Compatible Connections' Seek, Sort, and Select signature series.";
let pageKeywords = "Compatible Connections, Bernadette Smith, Bernadette M. Smith, dating coach, life coach, coaching services, dating after divorce, online dating, seek sort and select, compatibility, finding love after divorce";

let question2 = "This Series Is For You If...";
let question3 = "By The End Of This Series You Will..";
let question4 = "What Can This Series Do For You?";
let question5 = "What Makes This Series Different?";

/// FULL ASTRO COMPONENT SYNTAX:
/// https://docs.astro.build/core-concepts/astro-components/

---

<html lang="en">
  <head>
    <HeadMinimum></HeadMinimum>
    <title>{title}</title>
    <meta name="description" content={pageDescription} />
    <meta name="keywords" content={pageKeywords} />
    <!-- Facebook Open Graph: Page-Specific Meta Tags -->
    <meta property="og:url" content={pageURL} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={pageDescription} />
    <HeadStatic></HeadStatic>
  </head>
  <body>
    <!-- #region Full Screen Nav Menu -- Tablet & Mobile Hamburger Click -->
    <NavMobileLinks></NavMobileLinks>
    <!-- #endregion -->
    <!-- The div below wraps the entire CC webpage & hides/shows it on mobile & tablet views 
            depending on whether the Hamburger Icon in the Nav Menu is clicked. -->
    <NavToggleWrapper>
      <Header />
      <!-- #region Nav Menu -->
      <NavDesktop />
      <NavMobile client:load />
      <!-- #endregion -->
    <main id={mainID} class="explore_our_services">
      <h1>{pageService}<br><span>Your Compatible Partner Online</span></h1>
      <!-- #region Explore Our Services -- Title Card -->
      <HeroGray id="explore_our_services__headline">
      <ServicesHeadline imgSrc="/assets/images/sss-headline_img.png" imgAlt="A man sitting in a chair holds a glass of wine in one hand and a pink heart in the other." class="transparent">
        <p slot="services_headline_text">Can you really find your ideal life partner on a dating site?</p>
        <p slot="services_headline_text">Absolutely...but only if you learn how to <span class="utility_classes__emphasis">Seek, Sort, & Select!</span></p>
      </ServicesHeadline> 
      </HeroGray>
      <!-- #endregion -->
      <!-- #region Explore Our Services Links (Secondary Nav) -->
      <ServicesLinks question2={question2} question3={question3} question4={question4} question5={question5}/>
      <!-- #endregion Explore Our Services Links (Secondary Nav) -->
      <!-- #region Pitch Cards -->
      <section class="explore_our_services__pitch_cards">
         <!-- #region "Does This Sound Like You?" Pitch Card -->
        <ServicesPitchCardChecked id="like_you" imgSrc="/assets/images/sss-1-sound_like_you.png" imgAlt="A woman sitting on an e-mail icon.  A clock is positioned above her head.">
          <h2 slot="pitch_card_question">
          Does This Sound
          <span class="utility_classes__clean_break_on_wrap">Like You?</span>
        </h2>
        <SoundLikeChecklist slot="checklist"/>
        <ServicesLinks question2={question2} question3={question3} question4={question4} question5={question5} slot="services_links" />
        </ServicesPitchCardChecked>
        <!-- #endregion "Does This Sound Like You?" Pitch Card -->
        <!-- #region "Seek, Sort, & Select Is For You If ..." Pitch Card -->
        <ServicesPitchCardChecked id="for_you" imgSrc="/assets/images/sss-2-is_for_you_if.png" imgAlt="A pair of hands hover over a computer screen showing the dating profiles of three different men.">
          <h2 slot="pitch_card_question">
            {pageService} <br>Is For You If...
          </h2>
        <ForYouChecklist slot="checklist"/>
        <ServicesLinks question2={question2} question3={question3} question4={question4} question5={question5} slot="services_links" />
        </ServicesPitchCardChecked>
        <!-- #endregion "Seek, Sort, & Select Is For You If..." Pitch Card -->
        <!-- #region "By The End of This Series You Will" Pitch Card -->
        <ServicesPitchCardChecked id="question_3" imgSrc="/assets/images/sss-3-by_end_of_series.png" imgAlt="A woman and a man holding hands as they walk out of a smartphone screen surrounded by hearts.">
          <h2 slot="pitch_card_question">
            By The End Of This Series <span class="utility_classes__clean_break_on_wrap">You Will...</span>
          </h2>
          <EndOfChecklist slot="checklist" />
          <ServicesLinks question2={question2} question3={question3} question4={question4} question5={question5} slot="services_links" />
        </ServicesPitchCardChecked>
        <!-- #endregion "By The End Of This Series You Will" Pitch Card -->
        <!-- #region "What Can This Series Do For You?" Pitch Card -->
        <ServicesPitchCard id="question_4" imgSrc="/assets/images/sss-4-can_do_for_you.png" imgAlt="A side profile of a woman and a man looking at each other.">
          <h2 slot="pitch_card_question">
            What Can This Series<br>Do For You?
          </h2>
          <p slot="pitch_card_answer">
            Seek, Sort, & Select is not a cookie-cutter workshop or webinar. 
          </p>
          <p slot="pitch_card_answer">
            This Series centers around creating and promoting a stellar dating profile that attracts the type of men you're looking for online. It's built around a customized dating plan, personalized course materials, one-on-one coaching, and real-time feedback and support. It's a personal journey of transformation with a single goal: giving you the skills & techniques you need to find your ideal compatible partner. 
          </p>  
          <p slot="pitch_card_answer">
            We'll steer you towards the dating sites that are right for you, work with you to craft a winning profile, teach you how to identify & approach compatible men, help you avoid the players and weirdos, and be your personal "Wing Woman" before, during, and after dates. We'll teach you how to become a confident, conscious dater who genuinely enjoys dating. We'll show you simple but highly effective techniques you can use to make compatible partners feel important and appreciated, techniques that will help you build a strong foundation for your next forever-after relationship.  
          </p>
          <p slot="pitch_card_answer">
            By the end of this Series, you'll have everything you need to seek, sort, and select compatible partners online. You'll know how to get in front of men you actually want to meet. You'll have a system in place that lets you spend less time searching for men online and more time offline, getting to know great guys face-to-face. You'll experience, maybe for the first time, what it's like to accurately and confidently predict your romantic future.  
          </p>
        <ServicesLinks question2={question2} question3={question3} question4={question4} question5={question5} slot="services_links" />
        </ServicesPitchCard>
        <!-- #endregion "What Can This Series Do For You?" Pitch Card -->
        <!-- #region "How Is Seek, Sort, & Select Delivered?" Pitch Card -->
        <ServicesPitchCard id="question_5" imgSrc="/assets/images/sss-5-is_delivered-2.png" imgAlt="A pigeon is perched on top of a mailbox.  A hand is placing a pink sealed envelope in the mailbox's slot.">
          <h2 slot="pitch_card_question">
           What Makes This Series Different? 
          </h2>
          <p slot="pitch_card_answer">
            Congratulations!  You've just found a way to ensure your next time around the dating pool will be your last!
          </p>
          <p slot="pitch_card_answer">
            Most women date randomly, competing ferociously for mates with a specific height, weight, age, education, career, money, and attractiveness.  But the surprising truth is that research has shown, again and again, that these qualities have <span class="utility_classes__emphasis">zero</span> impact on a relationship's chance of long-term success!
          </p>
          <p slot="pitch_card_answer">
            This disconnect between what's superficially attractive and what makes relationships last is at the heart of what I teach in Seek, Sort, and Select Your Compatible Partner Online.  I call this focus the Science of Behind Forever After, and it can give you something you've never had before: the certainty you <span class="utility_classes__emphasis">can</span> find the love of your life on a dating site! 
          </p>
          <p slot="pitch_card_answer">
            I'm a divorcée myself.  Like so many of my clients, I too dated randomly and ended up picking the wrong partner.  I'm highly aware of today's divorce rates, and I understand what singles need to do differently to beat the odds.
          </p>
          <p class="utility_classes__center utility_classes__strong" slot="pitch_card_answer">
            The Science Behind Forever After worked for me, and I'm here to show you how it can work for you!
          </p>
          <ServicesLinks question2={question2} question3={question3} question4={question4} question5={question5} slot="services_links" />
        </ServicesPitchCard>
        <!-- #endregion "How Is Seek, Sort & Select Delivered?" Pitch Card -->
        <!-- #region "How Much Does This Cost?" Pitch Card -->
        <ServicesPitchCard id="how_much" imgSrc="/assets/images/coaching-7-how_much_does_coaching_cost.png" imgAlt="A man and a woman embrace underneath a streetlight.">
          <h2 slot="pitch_card_question">
            How Much Does This Cost?
          </h2>
          <p slot="pitch_card_answer" class="utility_classes__align-left">
            High quality, one-on-one coaching requires a lot of training, expertise, and legwork. 
          </p>
          
          <p slot="pitch_card_answer">
            <a href="https://coachfederation.org/research/global-coaching-study" target="_blank">One recent survey</a> by the <a href="https://coachfederation.org/" target="_blank">International Coach Federation</a>, the gold-standard accrediting body for coaches, found that top-tier coaches were charging anywhere from $375 to $607 per hour for their services! 
          </p>
          <p slot="pitch_card_answer">
            <span class="utility_classes__strong">We understand that financial uncertainty is an unavoidable part of life for many divorced women</span>. We're also aware there's no shortage of shady businesses out there that prey on the fears, anxieties, and dreams of single ladies.  
          </p>
          <p slot="pitch_card_answer">
            Because Compatible Connections is committed to helping all women find the love of their lives after divorce, <span class="utility_classes__strong">we've deliberately under priced our services</span>. We've built our business around the idea that any woman re-building their life after divorce should be able to afford our services. We believe in putting the needs of prospective clients, not profits, first.  
          </p>
          <p slot="pitch_card_answer">
            <span class="utility_classes__strong">Our standard rate for coaching services is $125.00 per hour, which puts the total cost to enroll in our {pageService} Signature Series at $750.00</span>. If that seems like a lot of money upfront, don't worry! We offer flexible payment plans. We also offer our clients a no-questions-asked, money-back guarantee if they're not dating differently by the end of their first coaching session!
          </p>
          <p slot="pitch_card_answer">
            Every divorced woman knows in her bones that choosing the wrong partner can be a costly mistake. If you're ready to date and want to do things right the second time around, we'd urge you to consider this Series a worthwhile investment in yourself. We offer divorced women something no other coaching firm out there can: a chance to learn everything you need to overcome past mistakes and find real lasting love. 
          </p>
          <ServicesLinks question2={question2} question3={question3} question4={question4} question5={question5} slot="services_links" />
        </ServicesPitchCard>
        <!-- #endregion "How Much Does This Cost?" Pitch Card -->
        <!-- #region "I'm Interested!  What Are My Next Steps?" Pitch Card -->
        <ServicesPitchCard id="next_steps" imgSrc="/assets/images/sss-7-next_steps.png" imgAlt="A woman sitting in the basket of a bike.  Her hands are above her a head.  A man is peddling.">
          <h2 slot="pitch_card_question">
            I'm Interested!  <span class="utility_classes__clean_break_on_wrap">What Are My Next Steps?</span>
          </h2>
          <p slot="pitch_card_answer" class="utility_classes__align-left">
            We ask all of our prospective clients to <a href="/discovery_session">schedule a complimentary, 30-minute Discovery Session</a> with Coach Bernadette before they enroll in Seek, Sort, and Select. 
          </p>
          <p slot="pitch_card_answer">
            This Session will give us an opportunity to get acquainted, answer any questions you may have, and see if this series, Seek Sort, and Select is exactly what you're looking for. 
          </p>
          <p slot="pitch_card_answer">
            To get started, <a href="/discovery_session">click here</a> to schedule your Discovery Session directly through our website.
          </p>
          <p slot="pitch_card_answer">
            Email works too! Reach out to us at <a href="mailto:bernadette@compatibleconnections.biz">bernadette at compatibleconnection dot biz</a>.
          </p>
          <p slot="pitch_card_answer">
            You can also call us directly at <a href="tel:215-968-4694">215-968-4694</a>.
          </p>
          <p slot="pitch_card_answer">
            Looking forward to hearing from you! I can't wait to help you answer the most important question of your life:
          </p>
         <p slot="pitch_card_answer">
            "How do I find true love after divorce?"
          </p>
        </ServicesPitchCard>
        <!-- #endregion "I'm Interested!  What Are My Next Steps?" Pitch Card -->
      </section>
      <!-- #endregion -->
        <LetsConnect />
      </main>
      <span class="line"></span>
      <!-- The div below closes the "hide everything but the responsive nav" wrapper above. -->
    </NavToggleWrapper>
    <Footer client:load />
    <a href="404.html"></a>
  </body>
</html>