---

/// NOTE: DEFAULT FILE PATHS ARE CONFIGURED FOR .astro PAGES STORED AT /SRC ROOT.  PAGES NESTED WITHIN ROOT WILL NEED THEIR FILE PATHS UPDATED!



//    CSS/STYLE IMPORTS
import "../../styles/all.scss"

//    ASTRO COMPONENT IMPORTS
import HeadMinimum from "../../components/HeadMinimum.astro";
import HeadStatic from "../../components/HeadStatic.astro";
import NavToggleWrapper from "../../components/NavToggleWrapper.astro";
import Header from "../../components/Header.astro";
import NavDesktop from "../../components/NavDesktop.astro";
import NavMobile from "../../components/NavMobile.astro";
import NavMobileLinks from "../../components/NavMobileLinks.astro";
import LetsConnect from "../../components/LetsConnect.astro";
import Footer from "../../components/Footer.astro";

//    ASTRO LAYOUT IMPORTS 
import Article from "../../layout/Article.astro";

//    ASTRO PAGE-SPECIFIC IMPORTS 

//    FRAMEWORK-SPECIFIC IMPORTS 

//    COMPONENT SCRIPTS:
/// You can write any JavaScript/TypeScript that you'd like here.
/// It will run during the build, but never in the browser.
/// All variables are available to use in the HTML template below.

//    PAGE-SPECIFIC VARIABLES

/// Changing <header> Variables 
/// **Note**: Static header variables are stored in StaticHead.astro.
let pageURL = "https://compatibleconnections.biz/resoures/articles/love_your_life.html";
let title = "-♡- Article: Love Your Life After Divorce -♡-";

/// **Note**: pageDescription is limited to 150 characters!
/// Character counter can be found here: https://wordcounter.net/character-count
let pageDescription = "Until you do a complete marriage autopsy, your relationship patterns will repeat in their typically predictable way.";
let pageKeywords = "Compatible Connections, Bernadette Smith, Bernadette M. Smith, online dating, dating after divorce, resources for online daters, resources for divorced daters, article, compatibility, dating mistakes, biggest dating mistakes";
let mainID = "article__love_your_life";

/// FULL ASTRO COMPONENT SYNTAX:
/// https://docs.astro.build/core-concepts/astro-components/

---

<html lang="en">
  <head>
    <HeadMinimum></HeadMinimum>
    <title>{title}</title>
    <meta name="description" content="{pageDescription}" />
    <meta name="keywords" content="{pageKeywords}" />
    <!-- Facebook Open Graph: Page-Specific Meta Tags -->
    <meta property="og:url" content="{pageURL}" />
    <meta property="og:title" content="{title}" />
    <meta property="og:description" content="{pageDescription}" />
    <HeadStatic></HeadStatic>
  </head>
  <body>
    <!-- #region Full Screen Nav Menu -- Tablet & Mobile Hamburger Click -->
    <NavMobileLinks></NavMobileLinks>
    <!-- #endregion -->
    <!-- The div below wraps the entire CC webpage & hides/shows it on mobile & tablet views 
            depending on whether the Hamburger Icon in the Nav Menu is clicked. -->
    <NavToggleWrapper>
      <Header />
      <!-- #region Nav Menu -->
      <NavDesktop />
      <NavMobile client:load />
      <!-- #endregion -->
      <main id={mainID} class="article">
        <Article articleTitle="Love Your Life After Divorce!" imgSrc="/assets/images/resources/articles/love_your_life.png" imgAlt="A smiling woman holding a boquet of flowers." articleValediction="Wishing You All the Best in Life & Love">
          <blockquote slot="blockquote">
            Until you do a complete marriage autopsy, your relationship
            patterns will repeat in their typically predictable way. Why not try and understand what actually happened so you can stop making the same mistakes?
          </blockquote>
          <p slot="article_text">
            No one walks down the aisle on their wedding day thinking their relationship will end in a divorce. Unfortunately, according to the American Psychological Association, more than 90 percent of people marry by age 50. However, 40 to 50 percent of married couples in the United States divorce. The divorce rate for subsequent marriages is even higher.
          </p>
          <p slot="article_text">
            Numbers don't lie and seldom do couples do their homework before entering new relationships or picking new life partners. Let me introduce you to The Marriage Autopsy.
          </p>
          <p slot="article_text">
            This idea came from my own divorce. It's a valuable tool to help you sort out the things in your marriage that worked, didn't work, and what you'd like to do differently next time. A Marriage Autopsy creates clarity and self-confidence. It can help you move forward with a healthy outlook. It can bridge the gap between where you are and where you'd like to be. The best time to do an
            autopsy is when one relationship ends and before a new one begins.
          </p>
          <p slot="article_text">
            Until you do a complete Marriage Autopsy, your relationship
            patterns will repeat in their typically predictable way. Why not try and understand what actually happened so you can stop making the same mistakes?
          </p>
          <p slot="article_text">
            While many couples see remarriage as a second chance at happiness, the statistics tell a different story. The divorce rate for second marriages in the US is over 60%!
          </p>
          <p slot="article_text">
            If you'd like a copy of my <i>Marriage Autopsy: 13 Questions to Ask Yourself to Learn From Your Last Relationship</i>, <a href="mailto:bernadette@compatibleconnections.biz"
              >e-mail me</a> at bernadette at compatibleconnections dot biz.
          </p>
        </Article>
        <LetsConnect />
      </main>
      <span class="line"></span>
      <!-- The div below closes the "hide everything but the responsive nav" wrapper above. -->
    </NavToggleWrapper>
    <Footer client:load />
    <a href="404.html"></a>
  </body>
</html>